@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss';
:root {
  --mouse-shadow: 5px;
}

svg {
  max-height: 36px;
}

html,
body {
  font-family: 'Oswald Bold', sans-serif;

}

.texto-sombra-padrao {
  text-shadow:
    -2px 0 #000,
    0 -2px #000,
    2px 0 #000,
    0 2px #000,
    2px 2px #000,
    -2px -2px #000,
    -2px 2px #000,
    2px -2px #000,
    calc(-1 * var(--mouse-shadow)) var(--mouse-shadow) #000;
}

/* .fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
} */
.fascinate-inline-regular {
  font-family: 'Oswald Bold', sans-serif;
}


.merriweather-body{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* .limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
.limelight-regular {
   font-family: 'Oswald Bold', sans-serif;
}